/* =======================for google font================================ */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* tailwind css */

@import "tailwindcss";
@tailwind components;

/* typography */

@theme {
  /* for font family */
  --font-urbanist: "Urbanist", sans-serif;
  /* color */
  --color-primary: #2a254d;
  --color-secondary: #697585;
  --color-tarnary: #4f5de4; 
  --color-quaternary: #f57005;
  --color-quinary: #f6f6f6;
}

@layer components {
  /* heading */
  .heading-One {
    @apply font-urbanist text-[70px]/[70px] font-bold tracking-[-1px];
  }
  .heading-two {
    @apply font-urbanist text-[50px]/[47px] font-bold;
  }
  .heading-three {
    @apply font-urbanist text-[40px]/[47px] font-bold;
  }
  .heading-four {
    @apply font-urbanist text-[32px]/[26px] font-bold;
  }
  .heading-six {
    @apply font-urbanist text-[24px]/[26px] font-bold;
  }
  /* paragraph */
  .paragraph-regular {
    @apply font-urbanist text-[16px]/[26px] font-normal;
  }
  .paragraph-semi {
    @apply font-urbanist text-[16px]/[26px] font-semibold;
  }
  .paragraph-bold {
    @apply font-urbanist text-[16px]/[26px] font-bold;
  }
  .paragraph-bold-eighteen {
    @apply font-urbanist text-[18px]/[26px] font-bold;
  }
  .paragraph-bold-twenty {
    @apply font-urbanist text-[20px] font-bold;
  }
}

/* for input */

input:focus-visible {
    outline-offset: 0px;
    outline: none;
}



.l{
  color: #152B4A;
}